# Application configuration (loaded into container via docker-compose)
PAGE_TITLE="Changelog"
PAGE_DESCRIPTION="Changelog of the project"

# presentation
STYLESHEET="styles.css"

# company/footer
COMPANY_NAME="My company"
COMPANY_LOGO="logo.png"
COMPANY_URL="https://www.mycompany.com"
CONTACT_EMAIL=""
CLOUDFLARE_TUNNEL_TOKEN=""
